// Font
$font-main: 'Oswald';

// Colors
$body: #161517;
$main: #2e2e2e;
$yellow: #f6c324;
$white: #ffffff;
$header: #424348;

// Container
$container-width: 1500px;
$container-padding: 0px clamp(1rem, -0.085rem + 5.42vw, 5rem);
$container-margin: 0 auto;

// Header
$header-height: 7rem;

// Border Radius
$radius: clamp(2rem, 1.729rem + 1.36vw, 3rem);

// Margin Bottom
$bottom: clamp(1rem, 0.458rem + 2.71vw, 3rem);

// Padding Main
$padding-main: clamp(1rem, 0.636rem + 1.82vw, 2rem);
